/mods/*
/modsBackup/*
/dev/*
/$dev/*
/backups/*
/crash-reports/*
/ESM/*
/local/ftbchunks/*
/local/kubejs/cache*
/local/kubejs/exported_packs*
/local/kubejs/export/loot_tables*
/local/kubejs/dev.properties
/logs/*
/natives/*
/patchouli_books/*
/resourcepacks/*
/saves/*
/schematics/*
/screenshots/*
/.mixin.out/*
/scripts/examples/*
/config/jei/*
BotaniaVars.dat
config.json
options.txt
patchouli_data.json
realms_persistence.json
servers.dat
usercache.json
usernamecache.json
fc2DevWS.code-workspace
*.zip
*.lnk
*.bak
config/patchouli-client-3.toml.bak
config/patchouli-client-4.toml.bak
config/patchouli-client-5.toml.bak
XaeroWaypoints/
XaeroWorldMap/
XaeroWaypoints_BACKUP*
config/xaerominimap_entities.json
/classes/*
config/oculus.properties
config/solcarrot-client.toml
config/epicfight-client.toml
config/silentgear-client.toml
/debug/*
config/lootr-client.toml
minecraftinstance.json
.curseclient
brb.pins
/server/*
servers.dat_old
optionsof.txt
optionsshaders.txt
shaderpacks/ComplementaryShaders_v4.4.zip.txt
config/extremesoundmuffler-client.toml
config/supplementaries-registry-1.toml.bak
mods_noRelease/
global_packs
config/create-client-1.toml.bak
config/create-client-2.toml.bak
config/solcarrot-client-1.toml.bak
config/snowyspirit-common-3.toml.bak
config/snowyspirit-common-4.toml.bak
*.idea*
*.pyc
*$notes/export/*
*$notes/servers/*
*$notes/temp/*
config/carryon-client.toml
*shaderpacks*
chiselsandbits/clipboard.dat
MoreCosmetics*
config/fairylights-client.toml
config/seamless_loading_screen-client.toml
config/simplehats-client.toml
config/simplehats_hatdl/uuids.json
config/shetiphiancore-client.toml
config/enderchests-client.toml
config/artifacts-client.toml
kubejs/exported/tags/repurposed_structures/json_conditions.txt
config/betterthirdperson-common.toml
citadel/video_cache
config/cfm-client.toml
config/toolbelt-client.toml
config/betteradvancements-client.toml
$notes/playingNotes.xlsx
config/controllable/*
config/brb.toml
mods - Copy
config/effortlessbuilding-client.toml
config/chimes-client.toml
mods_add
$notes/Revenue.xlsx
config/controllable-client.toml
*lightspeed-cache/*
icon.png
kubejs/config/client.properties
config/reforgium-renderer.properties
*modernfix/structureCacheV1*
rhino.local.properties
local/kubejs/export/errors.log
local/kubejs/export/warnings.log
local/kubejs/export/index.json
$notes/WindowSpy.ahk
$notes/scriptGenerator/output/ftbQuestCoords.txt
*mod_referance*
$notes/~$calculations.xlsx
$notes/calculations.xlsx
$notes/server*
config/appleskin-client.toml
config/bagofyurting-client.toml
config/biggerstacks-client.toml
config/camera-client.toml
config/chiselsandbits-client.toml
config/cosmeticarmorreworked-client.toml
config/create-client.toml
config/curios-client.toml
config/enchantedbookredesign-client.toml
config/explorerscompass-client.toml
config/flywheel-client.toml
config/forge-client.toml
config/framedblocks-client.toml
config/gravestone-client.toml
config/guardvillagers-client.toml
config/inventorysorter-client.toml
config/moonlight-client.toml
config/naturescompass-client.toml
config/nutritionalbalance-client.toml
config/refinedstorage-client.toml
config/sophisticatedcore-client.toml
config/storagedrawers-client.toml
config/supplementaries-client.toml
config/trade_cycling-client.toml
config/treechop-client.toml
config/libraryferret_1.properties
config/bettervillage_1.properties
config/konkrete/locals/de_de.local
config/konkrete/locals/en_us.local
.gitignore
config/konkrete/locals/pl_pl.local
config/konkrete/locals/pt_br.local
$notes/usedSongs*
panoramas*
*local/*
$notes/iconWork/*
config/inventoryprofilesnext/Showcase/villager-trading-config.json
config/embeddium-mixins.properties
$notes/gem
config/inventoryprofilesnext/New World/prev-villager-trading-config.json
config/xaerominimap.txt
config/xaeropatreon.txt
config/xaeroworldmap.txt
$notes/deploy2/log.txt
$notes/deploy/log.txt
$notes/backup
$notes/exports
$notes/scriptGenerator/ffprobe.exe
*.ogg
config/cuisinedelight-client.toml
config/farmersdelight-client.toml
config/l2_configs/l2library-client.toml
$notes/commits.txt
$notes/modBisect/modsInfo.json
config/inventoryprofilesnext/TempFlatTest/villager-trading-config.json
$backups*
config/diet-client.toml
config/constantmusic.toml
kubejs/assets/spacecatcustomprofessions/textures/entity/villager/profession/bakery_customer.ase
$notes/hedgehog.aseprite
$notes/textures
config/realcamera.json
config/inventoryprofilesnext/debugFlat/villager-trading-config.json
config/overflowingbars-client.toml
config/patchouli-client.toml
defaultconfigs/ftbquests/client-config.snbt
config/botania-client.toml
config/snowyspirit-client.toml
config/snowrealmagic-client.yaml
config/kiwi-client.yaml
config/drawerstooltip-client.yaml
config/constructionwand-client.toml
config/l2_configs/l2tabs-client.toml
config/l2_configs/l2screentracker-client.toml
config/l2_configs/l2tabs-common.toml
